
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #181a1b;
}

header {
  background-color: #1b1e1f;
  text-align: center;
  padding: 20px;
}

section {
  margin: 20px;
}

footer {
  background-color: #1b1e1f;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
h1 {
  text-align: left;
}
h2{
  text-align: left;
}
h3{
  text-align: left;
}
h4{
  text-align: left;
}
p{
  text-align: left;
}